# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.AspnetViewWrapperExample.iml
# Datasource local storage ignored files
/../../../../../../../../:\ExperimentalDev\AspTesting\AspnetViewWrapper\AspnetViewWrapperExample\.idea\.idea.AspnetViewWrapperExample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
